
wave_data/KVLCC2/WISH_0.3L.txt
wave_data/KVLCC2/WISH_0.5L.txt
wave_data/KVLCC2/WISH_0.7L.txt
wave_data/KVLCC2/WISH_0.9L.txt
wave_data/KVLCC2/WISH_1.1L.txt
wave_data/KVLCC2/WISH_1.2L.txt
wave_data/KVLCC2/WISH_1.5L.txt
wave_data/KVLCC2/WISH_1L.txt
wave_data/S175/SWAN_DRIFT_0.2kts_0.0ms.txt
wave_data/S175/SWAN_DRIFT_10kts_0.0ms.txt
wave_data/S175/SWAN_DRIFT_12kts_0.0ms.txt
wave_data/S175/SWAN_DRIFT_2kts_0.0ms.txt
wave_data/S175/SWAN_DRIFT_4kts_0.0ms.txt
wave_data/S175/SWAN_DRIFT_6kts_0.0ms.txt
wave_data/S175/SWAN_DRIFT_8kts_0.0ms.txt
polar_diagram.py
